<header>
  <div class="headerContent">
    <a href="#">
      <img src="/game-mania-logo.svg" alt="logo-game-mania" cover
    /></a>
    <div class="searchBar">
      <input placeholder="O que você busca?" type="text" name="" id="" />
      <button type="button"><i class="ph ph-magnifying-glass"></i></button>
    </div>

    <div class="headerLinks">
      <a href="http://" target="_blank" rel="noopener noreferrer"
        ><i class="ph ph-heart-straight"></i
      ></a>
      <a href="http://" target="_blank" rel="noopener noreferrer"
        ><i class="ph ph-shopping-bag"></i
      ></a>
    </div>

    <div class="accountLinks">
      <a href="/login"> Login </a> |
      <a href="#"> Registrar-se </a>
    </div>
  </div>

  <nav>
    <ul>
      <li><a href="#">Teste</a></li>
      <li><a href="#">Teste</a></li>
      <li><a href="#">Teste</a></li>
      <li><a href="#">Teste</a></li>
    </ul>
  </nav>
</header>
