.card img {
  object-fit: cover;
  max-width: 224px;
  width: 224px;
  height: 13rem;
  border-radius: 0.25rem;
  margin-bottom: 1rem;
}

.card {
  width: max-content;

  color: var(--white-050);
  border: 1px solid var(--border);
  border-radius: 0.5rem;
  background: var(--blue-dark-50);
  padding: 1rem;
  transition: all 0.2s ease;
}
.card:hover {
  filter: drop-shadow(0px 5px 5px #121212);
}
.card p {
  filter: brightness(0.7);
  font-size: 1rem;
  margin: 0;
  padding: 0;
}

.card span {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 0.5rem;

}

.card a {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3rem;
  border-radius: 0.25rem;
  margin-top: 1rem;
  background-color: var(--red-500);
}
