
.sliderContent ul{
    display: flex;
    justify-content: space-between;
    display: flex;
    flex-direction:row;
}


.sliderContainer {
    width: inherit;
    padding: 2rem 3rem;

}

.sliderContainer h3{
    color: var(--white-050);  
    margin-bottom: 1.75rem;
    
}