
<div class="sliderContainer">
    <div class="sliderContent">
      <h3>{{title}}</h3>
      <ul>
        <app-product-card [productName]="productName" [imageSrc]="imageUrl"/>
        <app-product-card [productName]="productName" [imageSrc]="imageUrl"/>
        <app-product-card [productName]="productName" [imageSrc]="imageUrl"/>
        <app-product-card [productName]="productName" [imageSrc]="imageUrl"/>
        <app-product-card [productName]="productName" [imageSrc]="imageUrl"/>
      </ul>
    </div>
  </div>