<div class="navCategories">
  <ul>
    <app-categories-item title="Ação" />
    <app-categories-item title="RPG" />
    <app-categories-item title="Simulação" />
    <app-categories-item title="Esportes" />
    <app-categories-item title="Corrida" />
    <app-categories-item title="Luta" />
    <app-categories-item title="Plataforma" />
    <app-categories-item title="Indie" />
    <app-categories-item title="Estratégia" />
    <app-categories-item title="Terror" />
    <app-categories-item title="Casual" />
    <app-categories-item title="MMORPG" />
    <app-categories-item title="MOBA" />
 
  </ul>
</div>
